# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\normalTest\Demo1218\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
